<%- include('component/header'); -%>

    <header>
        <div class="headings">
            <a href="/todo" class="view">View todo</a>
        </div>
    </header>


    <%- include('component/footer'); -%>