<%- include('component/header'); -%>

    <div class="login">
        <form action="/signup">
            <h2>Login</h2>
            <div class="email">
                <label for="email">Email</label>
                <input class="emailInput" type="text" name="email" required />
                <div id="emailErr" class="email error"></div>
            </div>

            <div class=" password">
                <label for="password">Password</label>
                <input class="passwordInput" type="password" name="password" required />
                <div id="passwordErr" class="password error"></div>
            </div>
            <button class="loginBtn">Login</button>
        </form>

    </div>

    <%- include('component/footer'); -%>
        <script>
            const form = document.querySelector('form');
            const emailErr = document.querySelector('.email.error');
            const passwordErr = document.querySelector('.password.error');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                //reset errors
                emailErr.textContent = '';
                passwordErr.textContent = '';

                // get values
                const email = form.email.value;
                const password = form.password.value;

                try {
                    const res = await fetch('/login', {
                        method: 'POST',
                        body: JSON.stringify({ email, password }),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    const data = await res.json();
                    // console.log(data);
                    if (data.errors) {
                        emailErr.textContent = data.errors.email;
                        passwordErr.textContent = data.errors.password;
                    }
                    if (data.user) {
                        location.assign('/');
                    }
                } catch (err) {
                    console.log(err);
                }
            });
        </script>